USE [QLDB]
GO
/****** Object:  Table [dbo].[CAU_THU]    Script Date: 1/6/2019 7:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_THU](
	[IDCAUTHU] [int] NOT NULL,
	[IDDOIBONG] [int] NOT NULL,
	[TEN] [varchar](50) NULL,
	[NGAYSINH] [varchar](10) NULL,
	[LOAI] [varchar](100) NULL,
	[GHICHU] [varchar](50) NULL,
	[IDDOI] [int] NULL,
 CONSTRAINT [PK_CAU_THU] PRIMARY KEY NONCLUSTERED 
(
	[IDCAUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOIBONG]    Script Date: 1/6/2019 7:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOIBONG](
	[IDDOIBONG] [int] NOT NULL,
	[IDSAN] [int] NOT NULL,
	[IDLICH] [int] NOT NULL,
	[TENDOI] [varchar](50) NULL,
	[SANNHA] [int] NULL,
 CONSTRAINT [PK_DOIBONG] PRIMARY KEY NONCLUSTERED 
(
	[IDDOIBONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHI_BAN]    Script Date: 1/6/2019 7:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHI_BAN](
	[IDBANTHANG] [int] NOT NULL,
	[IDLICH] [int] NOT NULL,
	[IDCAUTHU] [int] NOT NULL,
	[LOAIBANTHANG] [char](1) NULL,
	[THOIDIEM] [varchar](100) NULL,
	[IDCTHU] [int] NULL,
 CONSTRAINT [PK_GHI_BAN] PRIMARY KEY NONCLUSTERED 
(
	[IDBANTHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_DAU]    Script Date: 1/6/2019 7:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_DAU](
	[IDLICH] [int] NOT NULL,
	[IDSAN] [int] NOT NULL,
	[VONG] [varchar](50) NULL,
	[IDDOI1] [int] NULL,
	[IDDOI2] [int] NULL,
	[THOIGIAN] [varchar](50) NULL,
	[SAN] [int] NULL,
	[TYSO] [char](3) NULL,
 CONSTRAINT [PK_LICH_DAU] PRIMARY KEY NONCLUSTERED 
(
	[IDLICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyNguoiDung]    Script Date: 1/6/2019 7:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyNguoiDung](
	[TaiDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 1/6/2019 7:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN](
	[IDSAN] [int] NOT NULL,
	[TEN] [varchar](50) NULL,
 CONSTRAINT [PK_SAN] PRIMARY KEY NONCLUSTERED 
(
	[IDSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAU_THU] ADD  DEFAULT ((1)) FOR [IDCAUTHU]
GO
ALTER TABLE [dbo].[GHI_BAN] ADD  DEFAULT ((1)) FOR [IDCAUTHU]
GO
ALTER TABLE [dbo].[CAU_THU]  WITH CHECK ADD  CONSTRAINT [FK_CAU_THU_THANH_VIE_DOIBONG] FOREIGN KEY([IDDOIBONG])
REFERENCES [dbo].[DOIBONG] ([IDDOIBONG])
GO
ALTER TABLE [dbo].[CAU_THU] CHECK CONSTRAINT [FK_CAU_THU_THANH_VIE_DOIBONG]
GO
ALTER TABLE [dbo].[DOIBONG]  WITH CHECK ADD  CONSTRAINT [FK_DOIBONG_SAN_NHA_SAN] FOREIGN KEY([IDSAN])
REFERENCES [dbo].[SAN] ([IDSAN])
GO
ALTER TABLE [dbo].[DOIBONG] CHECK CONSTRAINT [FK_DOIBONG_SAN_NHA_SAN]
GO
ALTER TABLE [dbo].[DOIBONG]  WITH CHECK ADD  CONSTRAINT [FK_DOIBONG_THI_DAU_LICH_DAU] FOREIGN KEY([IDLICH])
REFERENCES [dbo].[LICH_DAU] ([IDLICH])
GO
ALTER TABLE [dbo].[DOIBONG] CHECK CONSTRAINT [FK_DOIBONG_THI_DAU_LICH_DAU]
GO
ALTER TABLE [dbo].[GHI_BAN]  WITH CHECK ADD  CONSTRAINT [FK_GHI_BAN_BAN_THANG_LICH_DAU] FOREIGN KEY([IDLICH])
REFERENCES [dbo].[LICH_DAU] ([IDLICH])
GO
ALTER TABLE [dbo].[GHI_BAN] CHECK CONSTRAINT [FK_GHI_BAN_BAN_THANG_LICH_DAU]
GO
ALTER TABLE [dbo].[GHI_BAN]  WITH CHECK ADD  CONSTRAINT [FK_GHI_BAN_CAU_THU_G_CAU_THU] FOREIGN KEY([IDCAUTHU])
REFERENCES [dbo].[CAU_THU] ([IDCAUTHU])
GO
ALTER TABLE [dbo].[GHI_BAN] CHECK CONSTRAINT [FK_GHI_BAN_CAU_THU_G_CAU_THU]
GO
ALTER TABLE [dbo].[LICH_DAU]  WITH CHECK ADD  CONSTRAINT [FK_LICH_DAU_SAN_DAU_SAN] FOREIGN KEY([IDSAN])
REFERENCES [dbo].[SAN] ([IDSAN])
GO
ALTER TABLE [dbo].[LICH_DAU] CHECK CONSTRAINT [FK_LICH_DAU_SAN_DAU_SAN]
GO
ALTER TABLE [dbo].[CAU_THU]  WITH CHECK ADD  CONSTRAINT [CKC_IDCAUTHU_CAU_THU] CHECK  (([IDCAUTHU]>=(1) AND [IDCAUTHU]<=(9999)))
GO
ALTER TABLE [dbo].[CAU_THU] CHECK CONSTRAINT [CKC_IDCAUTHU_CAU_THU]
GO
ALTER TABLE [dbo].[GHI_BAN]  WITH CHECK ADD  CONSTRAINT [CKC_IDCAUTHU_GHI_BAN] CHECK  (([IDCAUTHU]>=(1) AND [IDCAUTHU]<=(9999)))
GO
ALTER TABLE [dbo].[GHI_BAN] CHECK CONSTRAINT [CKC_IDCAUTHU_GHI_BAN]
GO
